$white: #fff;
$gray: #8d8d8d;
$gray-dark: #6a6a6a;
$gray-light: #e2e2e2;
$primary: #e5e5e5;
$danger: #c32c72;
$light: #f4f3ee;
$dark: #463f3a;
$navbar-dark-color: #8d8d8d;
$navbar-light-active-color: #c32c72;
$navbar-light-brand-color: #262626;

.row .box {
    width: 240px;
}

.container {
    height: 100%;
}