h1 {
    font-family: "Open-Sans", sans-serif;
    color: $dark;
    font-size: 34px;
    padding: 15px;
    margin: 20px;
 }

 a {
     font-family: "Archivo Narrow", sans-serif;
 }

 .navbar-brand {
     font-family: "Open-Sans", sans-serif;
 }